@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

body {
  margin: 0;
  font-family: "SF Pro Display", SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #f5f5f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav.nav-wrapper {
  margin: 0;
  width: 100%;
  min-width: 320px;
  height: 48px;
  max-height: 44px;
  font-size: 17px;
  background-color: #f2f2f2;
}

nav .nav-content {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  padding: 0 22px;
}

nav .list-styled {
  cursor: default;
  margin: 0 -9px;
  width: auto;
  height: 44px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav .link-styled {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  color: #000000cc;
}

.home-section.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  position: relative;
  z-index: 1;
  min-height: 831px;
}

.home-section .text {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.home-section .description {
  font-size: 21px;
  font-weight: 400;
}

.home-section .links {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
}

.home-section .button {
  background: #0071e3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 0 14px;
}

.home-section .link {
  text-decoration: none;
  color: #2997ff;
  font-size: 21px;
  font-weight: 400;
  margin: 0 14px;
  cursor: pointer;
}

.add-section.wrapper {
  width: 100%;
  color: #1d1d1f;
  background-color: #fbfbfd;
  height: 100vh;
}

.add-section .body {
  max-width: 980px;
  margin: 0 auto;
}

.add-section .content {
  max-width: 490px;
  width: 100%;
  padding: 200px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* opacity: 0; */
}

.add-section .title {
  color: #1d1d1f;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
}

.add-section .text {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #1e3791 0%,
    #2948b1 40%,
    #3153c6 55%,
    #385fda 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.add-section .description {
  font-size: 21px;
  font-weight: 400;
}

.add-section .links {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
}

.add-section .button {
  background: #0071e3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 0 14px;
  border: none;
}