@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

body {
  margin: 0;
  font-family: "SF Pro Display", SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #f5f5f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #aaaaaa;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.App #content {
  transition-duration: 0.3s;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  background: transparent;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  pointer-events: none;
  min-height: 831px;
  background: transparent;
}

#webgi-canvas-container .button {
  background: #0071e3;
  color: #fff;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  position: absolute;
  top: 30px;
  border: none;
  z-index: 1;
  transition-duration: 0.3s;
}

.home-section.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  position: relative;
  z-index: 1;
  min-height: 831px;
}

.home-section .text {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.home-section .description {
  font-size: 21px;
  font-weight: 400;
}

.home-section .links {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  /* width: 1000px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.links .button{
  /* background: #0071e3; */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 250px;
  height: 50px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 0 30px;
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 50px;
  /* margin: 0; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.links .button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.links .button:hover a {
  letter-spacing: 3px;
}

.links .button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.links .button:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.links .button::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.links .button:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.links .button::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.links .button:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.links .button:nth-child(1)::before, /*chnage 1*/
.links .button:nth-child(1)::after {
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}
.links .button:nth-child(2)::before, /* 2*/
.links .button:nth-child(2)::after {
  background: #2db2ff;
  box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
    0 0 60px #2db2ff;
}




/* .home-section .link {
  text-decoration: none;
  color: #2997ff;
  font-size: 21px;
  font-weight: 400;
  margin: 0 14px;
  cursor: pointer;
} */

.add-section.wrapper {
  width: 100%;
  color: #1d1d1f;
  background-color: #fbfbfd;
  height: 100vh;
}

.add-section .body {
  max-width: 980px;
  margin: 0 auto;
}

.add-section .content {
  max-width: 490px;
  width: 100%;
  padding: 200px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}

.add-section .title {
  color: #1d1d1f;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
}

.add-section .text {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #1e3791 0%,
    #2948b1 40%,
    #3153c6 55%,
    #385fda 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.add-section .AddInput {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.add-section .AddInput:focus {
  border-color: #007bff;
  outline: none;
}

.add-section #SubmitBtn {
  background: #0071e3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 0 14px;
  border: none;
}
.cars-section .AddInput {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.cars-section .AddInput:focus {
  border-color: #007bff;
  outline: none;
}

/* .cars-section #SubmitBtn {
  background: #0071e3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 0 14px;
  border: none;
} */

.cars-section.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 400px 0;
  height: 100vh;
  box-sizing: border-box;
  /* opacity: 0; */
  position: relative;
}

.cars-section .text {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(180deg, #ffb6b6, #ff4444);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.cars-section #list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#cars {
  margin: 1vmin;
  padding: 1vmin;
  color: black;
  background-color: white;
  border-radius: 2vmin;
}

#car-image {
  width: 30vmin;
  height: 20vmin;
  object-fit: cover;
  border-radius: 2vmin;
}

#car-name {
  text-decoration: none;
}

#cars:hover {
  background-color: #ffbaba;
  box-shadow: 0 0 20px #cf4242;
  transform: scale(1.1);
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}

#cars:active {
  background-color: #bee5ff;
  box-shadow: 0 0 20px #cf4242;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.9);
}

.display-section.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 400px 0;
  height: 100vh;
  box-sizing: border-box;
  opacity: 0;
  position: relative;
}

.display-section .title {
  color: #86868b;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  margin-bottom: 0;
}

.display-section .text {
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 0.5px;
  margin-top: 16px;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 18px;
}

.display-section .description {
  font-size: 21px;
  font-weight: 400;
}

.display-section .button {
  background: #0071e3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  margin: 15px;
}

.display-section .back-button {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.selectedCar {
  opacity: 1;
}

#show-image {
  width: 60vmin;
  height: 40vmin;
  object-fit: cover;
  border-radius: 2vmin;
}

#show-name {
  font-size: 3vmin;
}

.ShowButton {
  margin: 0 10vmin 0 10vmin;
  background: black;
  text-decoration: none;
  color: red;
  border: solid;
  border-color: red;
  border-width: 0.35vmin;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
}

.ShowButton:hover {
  color: white;
  border-color: white;
}

details summary {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

details summary:hover {
  background-color: #0056b3;
}

/* Styling for the details content */
details > * {
  margin-top: 10px;
  margin-bottom: 2vmin;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
}

details > form {
  display: flex;
  flex-direction: column;
}

details > form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

details > form ul:last-child {
  margin-bottom: 0;
}

details > form .AddInput {
  width: 100%;
  max-width: 700px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 6px;
}

details > form #SubmitBtn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

details > form #SubmitBtn:hover {
  background-color: #0056b3;
}